wheel
boto
boto3
opera
connexion[swagger-ui]
python-dateutil >= 2.8.1
pexpect
pytest
pytest-cov
pytest-mock
twine
setuptools
openshift
openstacksdk==0.52.0
validators
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability