# OPENSTACK SETTINGS
ssh-key-name: ${ssh_key_name}
image-name: ${image_name}
vm-name: ${vm_name}
openstack-network-name: ${network_name}
security-groups: ${security_groups}
flavor-name: ${flavor_name}
ssh_config:
  IdentityFile:  ${xOpera_ssh_key_file}
# DOCKER SETTINGS
docker-network: ${docker_network}
docker-public-registry-url: ${docker_public_registry_url}
docker-registry-cert-country-name: ${docker_registry_cert_country_name}
docker-registry-cert-organization-name: ${docker_registry_cert_organization_name}
docker-registry-cert-email-address: ${docker_registry_cert_email_address}
# PDS SETTINGS
pds_env:
  SECRET_VAULT_LOGIN_URI: ${VAULT_URI}/v1/auth/jwt/login
  SECRET_VAULT_URI: ${VAULT_URI}/v1/
  OIDC_INTROSPECTION_ENDPOINT: ${KEYCLOAK_URI}/auth/realms/SODALITE/protocol/openid-connect/token/introspect
  OIDC_CLIENT_SECRET: $KEYCLOAK_CLIENT_SECRET
  SEMANTIC_REASONER_UPDATE_URI: ${REASONER_URI}/reasoner-api/v0.6/saveTOSCA
  AUTH_API_KEY: ${AUTH_API_KEY}
  